[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
	branch = curl-8_0_1
